@CHARSET "UTF-8";
.labelLeft {
	vertical-align: top;
	display:inline-block;
	min-width:150px;
	text-align:right;
	padding: 5px;
	font-weight:bold;
	background:url(image/note.png) no-repeat;
}

.labelLeft:after {
	content: "：";
}
.labelRight {
	display:inline-block;
	padding: 5px;
}

.refreshButton{
	display:inline-block;
	padding: 5px;
	margin-left:100px;
}

.row {
	white-space: nowrap;
	font-size:12px;
}

body{
	font-family:'微软雅黑';
}

.headerTitle{
	font-family:'微软雅黑'; 
	font-weight:bold; 
	font-size:18px;  
	padding:50px 0 10px 40px; 
	border-bottom:1px solid #ddd;
	color:#ed771c;
}

#content{
	color:#444;
	padding:30px 0 10px 60px;
}

.note{
	white-space: nowrap;
	font-size:12px;
	padding:0 0 10px 0;
	color:#999; 
	font-weight:bold;
}