<?xml version="1.0" encoding="UTF-8"?>
<platform>
	<module index="2" role="is_admin">
		<parent>menu10</parent>
		<!-- local / descriptor -->
		<name source="local">
			navigation.menu.admin.reslog.volumelogmgr
		</name>
		<license></license>
		<entry>modules/VolumeLogMgr/index.html</entry>
	</module>
</platform>
