@CHARSET "UTF-8";
.tableList {
	line-height: 160%;
	border-collapse:collapse;
	border-spacing: 0;
	width:100%;
}
.tableList th {
	padding: 10px 2px;
	font-weight: bold;
	font-size:12px;
}
.tableList tr:not(:first-child) {
	border: 1px solid #aaa;
}
.tableList tr:hover:not(:first-child) {
	background: #eee;
}
.tableList td,th {
	padding-left: 10px;
	padding-right: 10px;
	text-align:left;
}
.labelLeft {
	display:inline-block;
	margin-right: 20px;
	padding: 5px;
}
.labelLeft:after {
	content: ":";
}
.labelRight {
	display:inline-block;
}
.unitGB:after {
	font-size: 8px;
	content: "    GB";
}
.area {
	margin-left: 20px;
}

.imageName {
	font-size:12px;
	color:#0000FF;
	display:block;
}

.imageId {
	font-size:10px;
	color:#777;
	display:block;
}
.imageAuto {
	border-left: 1px dotted #ccc;
	width:20px;
}

.progress {
	width:100px;
	height:10px;
	display:inline-block;
}

.imageQuota {width:200px}
.apply {width: 70px;}

