<?xml version="1.0" encoding="UTF-8"?>
<platform>
	<module index="3" role="is_admin,is_2ndadmin">
		<parent>menu1</parent>
		<!-- local / descriptor -->
		<name source="local">
			navigation.menu.admin.resource.ip
		</name>
		<license>ipmanagement</license>
		<entry>modules/Network/index.html</entry>
	</module>
</platform>
