<?xml version="1.0" encoding="UTF-8"?>
<platform count="2">
	<module index="1" role="is_admin">
		<parent>menu3</parent>
		<name source="local">
			navigation.menu.admin.apptemplate.global
		</name>
		<license>apptemplatemanagement</license>
		<entry>modules/Gawain/index.html</entry>
	</module>
	<module index="4" role="is_admin">
		<parent>menu7</parent>
		<name source="local">
			navigation.menu.admin.apply.gawain
		</name>
		<license>apptemplatemanagement</license>
		<entry>modules/Gawain/index.html#exam</entry>
	</module>
</platform>
