@CHARSET "UTF-8";

.flavorName{
	width:20%;
}
.flavorVcpus{
	width:15%;
}
.flavorRam{
    width:15%;	
}
.flavorRdisk{
	width:15%
}
.flavorStatus{
    width:10%
}
.flavorOperation{
	width:25%;
}
.flavorDetails{
	display:none;
}