<?xml version="1.0" encoding="UTF-8"?>
<platform>
	<module index="2" role="is_admin,is_2ndadmin">
		<parent>menu1</parent>
		<!-- local / descriptor -->
		<name source="local">
			navigation.menu.admin.resource.instance
		</name>
		<license>vmmanagement</license>
		<entry>modules/Instance/index.html</entry>
	</module>
</platform>
