@charset "utf-8";
/* CSS Document 
	Author: Bill, 2011*/
* {
	font-family:Arial,"微软雅黑",Helvetica,sans-serif;
}
body {
	background: white;/*url(image/bg-content.png) fixed;*/
	padding: 0;
	margin: 0;
}
em {
	color:red;
}

/* For Debug */
.NOT-IMPLEMENTED {
	visibility:hidden !important;
	display:none !important;
}

.hidden {
	visibility:hidden;
}

.detail {
	color:blue !important;
}

.itemExtra:before {
	content: "[";
}
.itemExtra:after {
	content: "]";
}

.itemMain {
}

#mainFrame {
	position: relative;
	background-color: #F7F7F7;
	border: 1px solid silver;
	margin: auto;
	white-space:nowrap;
	width: 1002px;
	text-align:left;
	white-space:normal;
	
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.ctrlBar {
	display:block;
	width:100%;
	margin:0px 0px 0px 0px;
	text-align:center;
	
	z-index:10;
	position:fixed;
	top:0;
}
.ctrlBlock {
	padding:2px 5px 2px 5px;
	display:inline-block;
	background:#F4F4F4;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	border-right:1px solid silver;
	
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;	
	
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
}
.ctrlItem {
	vertical-align:middle;
	display:inline-block;
	font-size:13px;
}
.ctrlSplitter {
	border-right:1px solid silver;
	margin-right:5px;
	padding-right:5px;
}
.empty {
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	display:block;
	text-align:center;
	cursor:default;
	font-family:Arial,"微软雅黑",Helvetica,sans-serif;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}
.unloaded {
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	display:block;
	text-align:center;
	cursor:default;
	font-family:Arial,"微软雅黑",Helvetica,sans-serif;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}
.smallIcon {
	display:inline-block;
	float:left;
}
.highlight {
	color:#222 !important;
}
.boxInfo {
	text-overflow:ellipsis;
	background:#FAFAFA;
	display:inline-block;
	border:1px solid silver;
	width:328px;
	margin-top:10px;
	margin-bottom:5px;
	margin-right:2px;
	margin-left:2px;
	overflow:visible;
	vertical-align:top;
	cursor:default;
	
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.boxTitle {
	display:block;
	height:5px;
	background:#DDD;
	margin:0;
	margin-bottom:5px;
	padding:0;
}
.boxLine {
	display:block;
	white-space:nowrap;
	overflow:hidden;
}
.boxCtrl {
	display:block;
	text-align:center;
	font-size:12px;
	margin-bottom:5px;
}
.boxLeft {
	display:inline-block;
	width:60px;
	text-align:right;
	font-size:12px;
	vertical-align:top;
}
.boxRight {
	display:inline-block;
	text-align:left;
	font-size:12px;
	vertical-align:top;
	padding-left:5px;
}
.boxRightMulti { /* only implemented with box right box */
	height:200px;
	width:250px;
	overflow-y:auto;
	overflow-x:hidden;
}
.boxResourceTitle {
	display:block;
	background:#EEE;
	height:16px;
	cursor:pointer;
	color:#777;
	text-align:center;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}
.boxResourceBody {
	display:block;
}
.boxRightBox {
	display:block;
	border:1px solid silver;
	margin-bottom:5px;
	overflow:hidden;
	
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.dialogLine {
	display:block;
}
.dialogLineLeft {
	width:80px;
	display:inline-block;
	text-align:right;
}
.dialogLineRight {
}
.listPanel {
	max-height:280px;
	overflow:auto;
	display:block;
}
.listItem{
	display:block;
	cursor:pointer;
	padding:4px 4px 4px 4px;
	margin:1px;
	overflow: visible;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-p-border-radius: 4px;
	border-radius: 4px;
	
	background:none;
}
.message {
	display:block;
	text-align:center;
	font-weight:bold;
}
.select {
	background: #EAEAFF !important;
	border-bottom: 1px dashed #222;
}
.select:before {
	content: ">";
}
.hover {
	background: #FF9;
}
.splitter {
	margin:5px;
	display:block;
	height:1px;
	border-top:1px dashed silver;
}

.textCollapse {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	word-wrap:normal;/* css 3 */
}

.textExpanded {
	word-wrap:break-word;/* css 3 */
	white-space:normal !important;
}

/* -- */
.appReqList {
	display: block;
}

.appReqListRow {
	-webkit-border-radius:2px;
	padding:2px 5px 2px 5px;
	display: block;
}

.appReqListCell {
	display:inline-block;
	vertical-align: top;
	cursor: default;
}
.appReqListHeader {
	display:inline-block;
	font-size:13px;
	font-style:italic;
	cursor:default;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}
.examTempName,.examReqName{
	width:100px;
}
.examTempRes {
	width:238px;	
}
.examTempUser {
	width:80px;	
}
.examStatus{	
	width:40px;
}
.examSubTime,.examAdminActTime{
	width:180px;	
}
.appReqBtnPanel {
	display:block;
	text-align:right;
}
.appReqResCollapse {
	overflow:hidden;
	height:15px;
}
.appReqResCollapse:before {
	content: "{Resources...}";
}
.appResBox {
	border-bottom:1px dashed #CCC;
	margin:1px;
	display:block;
	padding:2px;
	color: #4E4E4E;
}
.appResBoxLeft {
	width: 40px !important;
}
/* -- */

.footer {
	display:block;
	position:relative;background:none;
	margin-top:20px;
	margin-bottom:40px;
	text-align:center;
	font-size:12px;
	cursor:default;
}

.banner {
	display:block;
	position:relative;
	background:none;
	margin:40px 0px 10px 0px;
	text-align:center;
	font-size:14px;
	cursor:default;
}



