@charset "utf-8";
/* CSS Document 
	Author: Bill, 2011*/
* {
	font-family:Arial,Helvetica,sans-serif;
}
div {
	background: white;/*url(image/bg-content.png) fixed;*/
	padding: 0;
	margin: 0;
}
em {
	color:red;
	font-style: normal;
	margin-left:20px;
}

/* For Debug */
.NOT-IMPLEMENTED {
	visibility:hidden !important;
	display:none !important;
}
.smallFont {
	font-size: 10px;
}
.hidden {
	visibility:hidden;
}

.detail {
	color:blue !important;
}

.itemExtra:before {
	content: "[";
}
.itemExtra:after {
	content: "]";
}

.itemMain {
}

body {
	background:white;
	margin:0;
}

#mainFrame {
	position: relative;
	/*background-color: #F7F7F7;*/
	/*border: 1px solid silver;*/
	margin: auto;
	/*width: 990px;1002*/
	text-align:left;
	white-space:normal;
	top:40px;
	
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.empty {
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	display:block;
	text-align:center;
	cursor:default;
	font-family:Arial,Helvetica,sans-serif;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}
.unloaded {
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	display:block;
	text-align:center;
	cursor:default;
	font-family:Arial,Helvetica,sans-serif;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}
.smallIcon {
	display:inline-block;
	float:left;
	margin-right:5px;
}
.highlight {
	color:#222 !important;
}
.message {
	display:block;
	text-align:center;
	font-size:12px;
}
.select {
	background: #EAEAFF !important;
}
.select:after {
	content: url("image/tick.png");
}
.rowOdds{
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
} 
.rowEven{background:none;}
.splitter {
	margin:5px;
	display:block;
	height:1px;
	border-top:1px dotted silver;
}

.textCollapse {
	text-overflow:ellipsis;
	overflow:hidden;
	word-wrap:normal;/* css 3 */
}

.textExpanded {
	word-wrap:break-word;/* css 3 */
	white-space:normal !important;
}

.headerRow {
	background: #f4f4f4;
	white-space:nowrap;
	border-spacing:0;
	padding:2px 0px;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	height:30px;
}
.headerRow:hover {
	background: #f0f0f0;
}
.footerRow {
	background: #f4f4f4;
	white-space:nowrap;
	padding:2px 5px;
	text-align:right;
	
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	height:30px;
}
.footerRow td {
	border-top: 1px solid #ddd;
}
.navibar {
	display:block;
	text-align:center;
}
.navibar>* {margin:0 10px;}

/* -- */

.logsList {
	width:100%;
	min-height:40px;
	border-spacing:0;
	font-size:12px;
	border:1px solid #ddd;
	-webkit-box-shadow: rgba(0, 0, 0, .5) 1px 1px 1px;
	-moz-box-shadow: rgba(0, 0, 0, .5) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, .5) 1px 1px 1px;
	
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	
	margin-bottom:20px;
}
.logsListTipsLabel {display:block;margin:10px;}
.logsRow {line-height:160%;border-spacing: 0;}
.logsRow:last-child td {border:none;}
.logsRow:hover {
	background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
}
.logsRowCell {
	border-bottom:1px solid #ddd;
	cursor: default;
	text-indent:0px;
	padding:10px 5px 9px 5px;
	
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.logsRowCell span {overflow:hidden;text-overflow:ellipsis;}
.logsRowHeader {
	text-align:left;
	line-height:30px;
	font-size:13px;
	font-weight:bold;
	cursor:default;
	border-spacing:0;
	border-bottom:1px solid #ddd;
	text-indent:5px;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	font-family:Arial,"Microsoft Yahei",Helvetica,sans-serif;
}
.logsRowHeader input {
	border:0;
	background:none;
	border-bottom:1px solid silver;
}
.logsEmailSender{width:10%; display:none;}
.logsEmailReceiver {width:15%;}
.logsEmailLogin {width:8%;}
.logsEmailLogin:not(th) {color:blue;}
.logsEmailSubject {width:17%;}
.logsEmailBody {width:35%;}
.logsEmailBody:not(th) {color:#aaa;font-size:10px;line-height:120%;}
.logsEmailBody:not(th):hover {color:#000;}
.logsEmailNotes {width:10%;}
.logsEmailTime{width:15%;}
.logsOperation {}
.logsOperation > a{
	color:#777;
	margin-left:2px; 
	margin-right: 2px;
	border:1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	padding:1px 4px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	background: #f5f5f5; /* FF3.6+ */
	text-decoration: none;
}

.footer {
	display:block;
	position:relative;
	background:none;
	margin-top:20px;
	margin-bottom:40px;
	text-align:center;
	font-size:12px;
	cursor:default;
}

.banner {
	display:block;
	position:relative;
	background:none;
	margin:40px 0px 10px 0px;
	text-align:center;
	font-size:14px;
	cursor:default;
}



