@CHARSET "UTF-8";

 a{outline:none;blr:expression(this.onFocus=this.blur());}
.dataTable{
}

.green{
    color:#65C300;
}
.orange{
    color:#CC4444;
}
.dataTable  tfoot td{
    text-align:right;
    padding: 5px 5px 4px;
}
.dialogLine {
    display:block;
    line-height:28px;
    margin-bottom:3px;
    overflow:hidden;
}
.dialogLineLeft {
    width:100px;
    display:block;
    float:left;
    text-align:right;
    padding:3px;
}
.dialogLineRight {
    display:block;
    float:left;
    text-align:left;
    padding:3px;
}
.dialogLineRight input{
    height:25px;
}
.dialogLineRight select{
    height:25px;
    width:200px;
}
.loadingTips{
    display:block;
    padding:5px;
    font-size:13px;
    color:#0064CD;
}

.loadingError{
    display:block;
    padding:5px;
    font-size:13px;
    color:#C43C35;
}
.error{
    padding:2px;
    color:red;
}
.tipIcon{
    background:url(images/sys-icons-16.png) 0 0 no-repeat;
    padding:5px;
}
.okTipIcon{
    background:url(images/sys-icons-16.png) 6px 8px no-repeat;
    border: 0 none;
    height: 20px;
    padding: 6px 3px 6px 24px;
    width: 24px;
}
.errorTipIcon{
    background:url(images/sys-icons-16.png) 5px -193px no-repeat;
    border: 0 none;
    height: 20px;
    padding: 6px 3px 6px 24px;
    width: 24px;
    color:red;
    font-size:13px;
    
}
.cartTotalLine{
	text-align:right;
	font-size:15px;
	color:orange;
	padding:5px;
}
.cartButton{
	text-align:right;
}


.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white;   border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;}
.selectable { list-style-type: none; margin: 0; padding: 0;}
.selectable li { margin: 3px; padding: 0.4em; height: 18px; line-height:18px;cursor:pointer}
.cartPriceLabel{
    display:none;
}
.selectPayMethods{
	display:none;
}

.process_message{
	padding:15px;
	font-size:15px;
}
.ui-dialog .ui-dialog-title{
	padding:1px;
}
.table th, .table td{
	border-top:0 none;
	border-bottom:1px solid #DDDDDD;
}
.table .cartLabel{
	width:30%;
	text-align:right;
}
.table .cartCategory{
	width:30%;
	text-align:left;
	text-index:8px;
}
