<?xml version="1.0" encoding="UTF-8"?>
<platform>
	<module index="5" role="is_admin">
		<parent>menu5</parent>
		<!-- local / descriptor -->
		<name source="local">
			navigation.menu.admin.parameters.license
		</name>
		<license>projectmanagement</license>
		<entry>modules/License/index.html</entry>
	</module>
</platform>
