@charset "utf-8";
/* CSS Document 
	Author: Bill, 2011*/
* {
	font-family:Arial,Helvetica,sans-serif;
}
div {
	padding: 0;
	margin: 0;
}
em {
	color:red;
	font-style: normal;
	margin-left:20px;
}

/* For Debug */
.NOT-IMPLEMENTED {
	visibility:hidden !important;
	display:none !important;
}
.smallFont {
	font-size: 10px;
}
.hidden {
	visibility:hidden;
}

.detail {
	color:blue !important;
}

.itemExtra:before {
	content: "[";
}
.itemExtra:after {
	content: "]";
}

.itemMain {
}

body {
	background:white;
	margin:0;
}

#mainFrame {
	position: relative;
	/*background-color: #F7F7F7;*/
	/*border: 1px solid silver;*/
	margin: auto;
	/*width: 990px;1002*/
	text-align:left;
	white-space:normal;
	top:40px;
	
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.empty {
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	display:block;
	text-align:center;
	cursor:default;
	font-family:Arial,Helvetica,sans-serif;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}
.unloaded {
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	display:block;
	text-align:center;
	cursor:default;
	font-family:Arial,Helvetica,sans-serif;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}
.smallIcon {
	display:inline-block;
	float:left;
	margin-right:5px;
}
.highlight {
	color:#222 !important;
}
.message {
	display:block;
	text-align:center;
	font-size:12px;
}
.select {
	background: #EAEAFF !important;
}
.select:after {
	content: url("image/tick.png");
}
.hover {
	background: #fff4ce !important;
}
.textCollapse {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	word-wrap:normal;/* css 3 */
}

.textExpanded {
	word-wrap:break-word;/* css 3 */
	white-space:normal !important;
}

green {color:green;}
orange {color:orange;}
/* -- */

.tipsLabel {display:block;margin:10px;}
.List {font-size:12px;width:100%;border-collapse:collapse;border:none;}
.List thead th,
.List tbody td 
{text-align:left;}
.List tbody {}
.List thead th {border-bottom:1px solid #ccc;}
.List tfoot td {text-align:right;border-top:1px solid #ccc;}
.Row {line-height:160%;}
.List tbody td {vertical-align: middle;cursor: default;padding:5px 0px 4px 0px;text-indent:5px;}
.List tbody tr td {border-bottom:1px solid #ccc;}
.List tbody tr:last-child td {border:none;}
.RowHeader {
	font-size:13px;
	font-weight:bold;
	cursor:default;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	font-family:Arial,"Microsoft Yahei",Helvetica,sans-serif;
}

.softwareName{}
.softwareDesc {}

.hardwareDesc {}
.hardwareCpu {}
.hardwareMaxCpu {}
.hardwareMem {}
.hardwareMaxMem {}

.planName {}
.planDesc {}
.planPrice {}
.planCpu {}
.planMem {}
.planNet {}

.confirmDialog {text-align:center;}
.confirmDialog table {font-size:12px;text-align:left;width:100%;margin:5px;line-height:160%;}
.confirmDialog table select{min-width:120px;}
.confirmDialog table .splitter {height:2px;background:#ddd;}
.confirmDialog .label {text-align:right;width:33%;}
.confirmDialog .label:after {content: ":";}
.confirmDialog .subtitle {text-align:left; color:black;border:1px solid silver;cursor:default;text-indent:30px;font-weight:bold;background:url("image/tick.png") 10px center no-repeat #f0f0f0;}
.confirmDialog .emphasis {font-size: 18px !important; font-weight:bold; border-top:1px dashed #ccc;}
.confirmDialog .value {color:#0000fc;font-size:13px;}

.saveOrderDialog {text-align:center;}
.saveOrderDialog table {font-size:12px;text-align:left;width:100%;margin:5px;line-height:160%;}
.saveOrderDialog table select{min-width:120px;}
.saveOrderDialog table .splitter {height:2px;background:#ddd;}
.saveOrderDialog .label {text-align:right;width:33%;}
.saveOrderDialog .label:after {content: ":";}
.saveOrderDialog .value {color:#0000fc;font-size:13px;}

.orderTitle {border-bottom:1px dashed #ccc;color:#77a;background:#fff;text-indent:2px;}

.step-panel {margin-top:10px;margin-bottom:10px;}
.step-panel-hidden {display:none;}

.bgyellow {background:#FCEFA1;}
.bgdark {background:#303c42;}


