@charset "utf-8";

* {
	font-family: Arial,微软雅黑,Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust:none;
}

div {
	background: white;
	padding: 0;
	margin: 0;
	border: 0;
}

li {
	list-style: none outside none;
}

em {
	color: red;
	font-style: normal;
	margin-left: 20px;
	font-size:12px;
	white-space: nowrap;
}

body {
	background:white;
	margin:0;
	min-width:1150px;
}

#mainBody{
	margin:20px 20px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout:fixed;
	width:100%;
}

.splitter {
	background:url("image/bg2.png") repeat-x scroll center center transparent;
	height:15px;
	line-height:15px;
}

.hover {
	background: #fff4ce !important;
}

.rowOdds {
	background: #f0f7ff;
}

.rowEven {
	background: none;
}
.message {
    display: block;
    font-size: 12px;
    text-align: center;
}
.smallIcon {
    float: left;
    margin-right: 5px;
}
.bannerheader{
	padding:40px 0 0;
	width:100%;
}
h3{
	padding: 10px 0;
}
#vmChargeList th {
	padding: 0 5px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: top;
	line-height: 100%;
	white-space: nowrap;
	margin-bottom: -1px;
	cursor: default;
	vertical-align:middle;
	text-align:left;
}
#vmChargeList tbody tr {
	border-color: #CCC;
	border-width: 1px 0;
	border-style: solid;
	cursor: default;
}

#vmChargeList tbody tr td{
	font-size: 12px;
	vertical-align: top;
	line-height: 160%;
	white-space: nowrap;
	margin-bottom: -1px;
	padding: 5px 5px 4px;
	overflow:hidden;
	text-overflow: ellipsis;
	text-align:left;
	width:100%;
}

.vmChargeName{
	width:120px;
}
.vmChargePrice{
	width:110px;
}
.vmChargeTime{
	width:110px;
}
.vmChargeBefore{
	width:100px;
}
.vmChargeRemove{
 	width:120px;
}
.vmChargeDesc{
	width:160px;
}
.vmChargeType{
	width:70px;
}
.vmChargeOperation{
	width:80px;
}
.vmListOperation a{
	margin:0 3px;
}
#vmChargeList tfoot td{
	text-align:right;
	padding: 5px 5px 4px;
}
#createVMChargeItem td, #updateVMChargeItem td{
	font-size: 12px;
	vertical-align: middle;
	white-space: nowrap;
	padding: 2px;
}
#createVMChargeItem select,#updateVMChargeItem select{
	width:80px;
	height:24px;
}

.dialogLine {
}
.dialogLineLeft {
	text-align:right;
}
.dialogLineRight input{
	padding:1px;
	width:65px;
}
.red{
	color:#CC4444;
}
.green{
	color:#65C300;
}
.orange{
	color:orange;
}
