@charset "utf-8";

* {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

div {
	padding: 0;
	margin: 0;
	border: 0;
}

select {
	outline: none;
}

em {
	color: red;
	font-style: normal;
	margin-left: 20px;
	font-size: 12px;
	white-space: nowrap;
}

body {
	background: white;
	margin: 0;
	min-width: 1150px;
}

.bannerheader {
	padding: 40px 0 0;
	width: 100%;
}
.headerRow tr{
	height:35px;
}

#mainBody {
	margin: 20px 20px 0;
}

#volumeLogList table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

#volumeLogList {
	width: 100%;
	display: block;
}

.message {
	display: block;
	font-size: 12px;
	text-align: center;
}

.finder {
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	font-size: 12px;
	margin-bottom: 20px;
	padding: 5px;
	position: relative;
}

.finder .finder-indicator {
	background: none repeat scroll 0 0 #FFFFFF;
	cursor: default;
	left: 10px;
	position: absolute;
	top: -12px;
}

.finder input[type="text"] {
	border: 0;
	background: none;
	width: 100px;
	border-bottom: 1px solid silver;
}

.finder td {
	padding: 2px 10px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}

.smallIcon {
	float: left;
	margin-right: 5px;
}

.vmiddle {
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}

.headerRow {
	background: #fff;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	height: 35px;
}

.dataTableFile {
	min-height: 40px;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
	-webkit-box-shadow: rgba(0, 0, 0, .5) 1px 1px 1px;
	-moz-box-shadow: rgba(0, 0, 0, .5) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, .5) 1px 1px 1px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

.headerRow:hover {
	background: #f0f0f0;
}

.footerRow {
	margin-bottom: 20px;
	background: #f4f4f4;
	white-space: nowrap;
	padding: 2px 5px;
	text-align: right;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	height: 30px;
}

.footerRow td {
	border-top: 1px solid #ddd;
}

#volumeLogList th {
	line-height: 100%;
	white-space: nowrap;
	border-bottom: 1px solid black;
	padding: 3px 18px 3px 10px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	cursor: pointer;
	text-align: left;
}

#volumeLogList tbody tr {
	border-color: #CCC;
	border-width: 1px 0;
	border-style: solid;
	cursor: default;
}

#volumeLogList tbody tr td {
	font-size: 12px;
	line-height: 160%;
	white-space: nowrap;
	padding: 5px 10px 4px;
	text-indent: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.green {
	color: #65C300;
}

.orange {
	color: #CC4444;
}

.volumeLogMgrName {
	width: 90px;
}

.volumeLogMgrSize {
	width: 60px;
}

.volumeLogMgrZoneDisplay {
	width: 80px;
}

.volumeLogMgrLogin {
	width: 80px;
}

.volumeLogMgrQuantity {
	width: 55px;
}

.volumeLogMgrNotes {
	width: 130px;
}

.volumeLogMgrStatus {
	width: 70px;
}

.volumeLogMgrSoftName {
	width: 80px;
}

.volumeLogClientsubmissiontime {
	width: 100px;
}

#volumeLogList tfoot td {
	text-align: right;
	padding: 5px 5px 4px;
}

.dialogLine {
	display: block;
	margin-bottom: 3px;
}

.dialogLineLeft {
	width: 120px;
	display: inline-block;
	text-align: right;
}

.dialogLineRight input {
	padding: 1px;
	width: 200px;
}