<?xml version="1.0" encoding="UTF-8"?>
<platform>
	<module index="1" role="is_admin">
		<parent>menu1</parent>
		<!-- local / descriptor -->
		<name source="local">
			navigation.menu.admin.resource.xxx
		</name>
		<license></license>
		<entry>modules/VolumeReqClient/index.html</entry>
	</module>
</platform>
