@CHARSET "UTF-8";
.dataTable{
}

.green{
    color:#65C300;
}
.orange{
    color:#CC4444;
}
.dataTable  tfoot td{
}
.dialogLine {
    display:block;
    line-height:28px;
    overflow:hidden;
}
.dialogLineLeft {
    width:100px;
    display:block;
    float:left;
    text-align:right;
    padding:3px;
}
.dialogLineRight {
    display:block;
    float:left;
    text-align:left;
    padding:3px;
}
.dialogLineRight input{
}
.dialogLineRight select{
}
.loadingTips{
	display:block;
	padding:5px;
	font-size:13px;
	color:#0064CD;
}

.loadingError{
	display:block;
	padding:5px;
    font-size:13px;
    color:#C43C35;
}
.error{
	padding:2px;
	color:red;
}
.tipIcon{
	background:url(images/sys-icons-16.png) 0 0 no-repeat;
	padding:5px;
}
.okTipIcon{
	background:url(images/sys-icons-16.png) 6px 8px no-repeat;
    border: 0 none;
    height: 20px;
    padding: 6px 3px 6px 24px;
    width: 24px;
}
.errorTipIcon{
	background:url(images/sys-icons-16.png) 5px -193px no-repeat;
    border: 0 none;
    height: 20px;
    padding: 6px 3px 6px 24px;
    width: 24px;
    color:red;
    font-size:13px;
    
}
.ui-multiselect { height:35px; overflow-x:hidden; padding:2px 0 2px 14px; text-align:left }

