* {
  font-family:"微软雅黑" ,Arial;
}
#mainBody{
     padding:15px;
}
.mainBody{
    margin:0;
    padding:0;
    background:white;
}
.mainContainer{
}
.left{
    width:245px;
    display: inline-block;
    height:100%;
    border-right:5px solid #E5E5E5;
    border-bottom:5px solid #E5E5E5;
    background-color:#F5F5F3;
    position:absolute;
   left:0;
   top:0;
}
.right {
  background:white;
  min-height:500px;
  height:100%;
  padding:0;
  margin:0;
  position:absolute;;
  left:250px;
  min-width:800px;
  top:0;
}
.logo{
    padding:20px;
    text-align:center;
}
.logo img{
    max-height:120px;
}
.selected {
  color:orange !important;
}
.menu{
    padding:35px 0 5px 35px;
    background-color:#EEF9FF;
}
.tabs-left > .nav-tabs{
    width:100%;
    margin-right:0;
    border-right:0;
    
}
.table{
}
