@charset "utf-8";

* {
	font-family: Arial,微软雅黑,Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

div {
	background: white;
	padding: 0;
	margin: 0;
	border: 0;
}

em {
	color: red;
	font-style: normal;
	margin-left: 20px;
	font-size:12px;
	white-space: nowrap;
}

body {
	background:white;
	margin:0;
	min-width:1150px;
}

#mainBody{
	margin:20px 20px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout:fixed;
	width:100%;
}

.splitter {
	background:url("image/bg2.png") repeat-x scroll center center transparent;
	height:15px;
	line-height:15px;
}

.hover {
	background: #fff4ce !important;
}

.rowOdds {
	background: #f0f7ff;
}

.rowEven {
	background: none;
}
.message {
    display: block;
    font-size: 12px;
    text-align: center;
}
.smallIcon {
    float: left;
    margin-right: 5px;
}
label{
	cursor:default;
}
.bannerheader{
	padding:40px 0 0;
}
#vmImageList th {
	padding: 0 5px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: top;
	line-height: 100%;
	white-space: nowrap;
	margin-bottom: -1px;
	cursor: default;
	vertical-align:middle;
	text-align:left;
}
#vmImageList tbody tr {
	border-color: #CCC;
	border-width: 1px 0;
	border-style: solid;
	cursor: default;
}

#vmImageList tbody tr td{
	font-size: 12px;
	vertical-align: top;
	line-height: 160%;
	white-space: nowrap;
	margin-bottom: -1px;
	padding: 5px 5px 4px;
	overflow:hidden;
	text-overflow: ellipsis;
	width:100%;
}

.vmListPath{
	width:130px;
}
.vmListFolder{
	width:130px;
}
.vmListName{
	width:120px;
}
.vmListOS{
	width:140px;
}
.vmListSize{
	width:70px;
}
.vmListType{
	width:60px;
}
.vmListOperation{
	width:55px;
}
.vmListOperation a{
	margin:0 3px;
}
#vmImageList tfoot td{
	text-align:right;
	padding: 5px 5px 4px;
}
.dialogLine {
	display:block;
	margin-bottom:3px;
}
.dialogLineLeft {
	width:120px;
	display:inline-block;
	text-align:right;
}
.dialogLineRight input{
	padding:1px;
	width:200px;
}
