/* CSS Document */
div {
}
.usr_input {
	width:200px;
}
.usr_label {
	/*font-weight:bold;*/
	padding-right:20px;
	padding-bottom: 10px;
}
.usr_div {
}
.usr_frame {
	border:1px silver solid;
	padding-top:20px;
	padding-bottom:50px;
	margin:auto;
	width:600px;
}

.usr_ltd {
	vertical-align:middle;
	text-align:right;
	width:100px;
}
.usr_rtd {
	width:400px;
}

.usr_tips {
	float:left;
	padding-bottom:20px;
}

.usr_table {
	white-space:nowrap;
	margin:auto;
	border:0;
}
