* {
	font-family:Arial,Helvetica,sans-serif;
}
div {
	background: none;/*url(image/bg-content.png) fixed;*/
	padding: 0;
	margin: 0;
}
em {
	color:red;
	font-style: normal;
	margin-left:20px;
}

/* For Debug */
.NOT-IMPLEMENTED {
	visibility:hidden !important;
	display:none !important;
}
.smallFont {
	font-size: 10px;
}
.hidden {
	visibility:hidden;
}
.shelter{
	display:none;
}

.detail {
	color:blue !important;
}

.itemExtra:before {
	content: "[";
}
.itemExtra:after {
	content: "]";
}

.itemMain {
}

body {
	background:white;
	margin:0;
}

#mainFrame {
	position: relative;
	/*background-color: #F7F7F7;*/
	/*border: 1px solid silver;*/
	margin: auto;
	/*width: 990px;1002*/
	text-align:left;
	white-space:normal;
	top:40px;
	
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.empty {
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	display:block;
	text-align:center;
	cursor:default;
	font-family:Arial,Helvetica,sans-serif;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}
.unloaded {
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	display:block;
	text-align:center;
	cursor:default;
	font-family:Arial,Helvetica,sans-serif;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}
.smallIcon {
	display:inline-block;
	float:left;
	margin-right:5px;
}
.highlight {
	color:#222 !important;
}
.message {
	display:block;
	text-align:center;
	font-size:12px;
}
.select {
	background: #EAEAFF !important;
}
.select:after {
	content: url("image/tick.png");
}
.splitter {
	margin:5px;
	display:block;
	height:1px;
	border-top:1px dotted silver;
}

.textCollapse {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	word-wrap:normal;/* css 3 */
}

.textExpanded {
	word-wrap:break-word;/* css 3 */
	white-space:normal !important;
}
.headerRow {
	background: #fff;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	height:30px;
}
.headerRow:hover {
	background: #f0f0f0;
}
.footerRow {
	margin-bottom:20px;
	background: #f4f4f4;
	white-space:nowrap;
	padding:2px 5px;
	text-align:right;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	height:30px;
}
.footerRow td {border-top:1px solid #ddd;}
.vice {color:#aaa;}

.finder {border:1px solid #ddd;margin-bottom:20px;border-radius:5px;padding:5px;font-size:12px;position:relative;}
.finder .finder-indicator{position:absolute;top:-12px;left:10px;background:#fff;cursor:default;}
.finder .leftLabel:after {content: ":"; margin-right:10px;}
.finder td{padding:2px 10px;}
.finder input[type="text"] {border:0;background:none;width:100px;border-bottom:1px solid silver;text-align:center;}
/* -- */

.vmList {
	min-height:40px;
	width:100%;
	border-collapse:collapse;
	border-spacing:0; 
	font-size:12px;
	-webkit-box-shadow: rgba(0, 0, 0, .5) 1px 1px 1px;
	-moz-box-shadow: rgba(0, 0, 0, .5) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, .5) 1px 1px 1px;
	
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border:1px solid #ddd;
	
	margin-bottom:20px;
}
.vmTipsLabel {display:block;margin:10px;}
.vmRow {line-height:170%;}
.vmRow:last-child td {border:none;}
.vmRowCell {cursor: default; overflow: hidden;text-indent:5px;border-bottom:1px solid #ddd;}
.vmRowCell>div {background:none;}
.vmRowHeader {
	text-align:left;
	line-height:30px;
	font-size:13px;
	font-weight:bold;
	cursor:default;
	border-collapse: collapse;
	text-indent:5px;
	white-space:nowrap;
	
	border-bottom:1px solid #ddd;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	font-family:Arial,"Microsoft Yahei",Helvetica,sans-serif;
}
.vmRowHeader input {
	border:0;
	background:none;
	border-bottom:1px solid silver;
}
.vmName{width:12%;}
.vmZone {width:10%;}
.vmZone .vice {white-space:nowrap;overflow:hidden;max-width:120px;text-overflow:ellipsis;}
.vmUser {width:11%;}
.vmStatus {width:12%;}
.vmServer {width:10%;}
.vmOstype {width:20%;}
.vmOperation {text-indent:0;}
.vmOperation span{display:inline-block;} /*let btns auto-wrap*/
.vmOperation a {
	white-space: nowrap;
	color:#777;
	margin-left:2px; 
	margin-right: 2px;
	border:1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	padding:1px 4px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	background: #f5f5f5; /* FF3.6+ */
	text-decoration: none;
}
.vmOperation a:hover{
	color:#222;
	border-color:#aaa;
	background: #d5d5d5; /* FF3.6+ */
}

.vmDetail td {font-size: 12px;}
.detailLeft {width:100px; text-align: right; padding-right:20px;}
.detailLeft:after { content: ":"; }

.slider {margin: 5px;}

.chartIcon {display:inline-block; color:#444;margin-left:15px;margin-right:15px;cursor:pointer;}
.chartIcon > .chartThumb {
	display:block;
	width:80px;
	height:80px;
	background:url(image/chart_icon.png);
	border:1px solid #E6E6E6;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: rgba(0, 0, 0, .5) 2px 2px 4px;
	-moz-box-shadow: rgba(0, 0, 0, .5) 2px 2px 4px;
	box-shadow: rgba(0, 0, 0, .5) 2px 2px 4px;
}
.chartIcon > .chartThumbCPU {background:url(image/chart_icon_cpu.png) !important;}
.chartIcon > .chartThumbMEM {background:url(image/chart_icon_mem.png) !important;}
.chartIcon > .chartThumbVOL {background:url(image/chart_icon_vol.png) !important;}
.chartIcon > .chartThumbNET {background:url(image/chart_icon_net.png) !important;}
.chartIcon > .chartLabel {margin-top:10px;display:inline-block;width:80px;height:20px;}

.highcharts-export-menu {background:none;}

.clonePanel {}
.clonePanel .red{color:red;}
.clonePanel .inputVmname{color:blue;}
.clonePanel table {width:100%}
.clonePanel table tbody td.label {text-align:right;}
.clonePanel table tbody td.label:after {content: ":";margin-right:10px;}
.clonePanel table tbody td.value {text-align:left;}

.footer {
	display:block;
	position:relative;
	background:none;
	margin-top:20px;
	margin-bottom:40px;
	text-align:center;
	font-size:12px;
	cursor:default;
}

.banner {
	display:block;
	position:relative;
	background:none;
	margin:40px 0px 10px 0px;
	text-align:center;
	font-size:14px;
	cursor:default;
}
.ui-server-refresh{
	background-image:url(image/loading.gif);
	width:35px;
}

.dialogLine {
    display:block;
    margin-bottom:3px;
}
.dialogLineLeft {
    width:120px;
    display:inline-block;
    text-align:right;
}
.dialogLineRight input{
    padding:1px;
    width:200px;
}

