<?xml version="1.0" encoding="UTF-8"?>
<platform>
	<module index="5" role="is_admin">
		<parent>menu7</parent>
		<!-- local / descriptor -->
		<name source="local">
			navigation.menu.admin.apply.project
		</name>
		<license>projectmanagement</license>
		<entry>modules/Project/index.html</entry>
	</module>
</platform>
