@CHARSET "UTF-8";
.vmName{width:20%;}
.vmUser {width:15%;}
.vmStatus {width:15%;}
.vmOstype {width:20%;}
.vmOperation {width:30%}
.vmOperation span{display:inline-block;} 
.vmOperation a {
    white-space: nowrap;
    color:#777;
    margin-left:2px; 
    margin-right: 2px;
    border:0 none;
    border-radius: 2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    padding:1px 4px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #f5f5f5; /* FF3.6+ */
    text-decoration: none;
}
.vmOperation a:hover{
    color:#222;
    border-color:#aaa;
    background: #d5d5d5; /* FF3.6+ */
}
.statusVice{
    background:url("image/loading.gif") 0 0 no-repeat;
    text-indent:37px;
}
.vmOperation .vmstopped,.vmOperation .vmactive,.vmOperation .vmunpause,.vmOperation .vmpaused,.vmOperation .vmsuspended,.vmOperation .vmresuming,.vmOperation .vmdeleted{
    display:none;
}

