@CHARSET "UTF-8";
.vmName{width:20%;}
.vmUser {width:15%;}
.vmStatus {width:15%;}
.vmOstype {width:20%;}
.vmOperation {width:30%}
.vmOperation span{display:inline-block;} 
.statusVice{
    background:url("image/loading.gif") 0 0 no-repeat;
    text-indent:37px;
}
.vmOperation .vmstopped,.vmOperation .vmactive,.vmOperation .vmunpause,.vmOperation .vmpaused,.vmOperation .vmsuspended,.vmOperation .vmresuming,.vmOperation .vmdeleted{
    display:none;
}

