@charset "utf-8";

* {
	font-family: Arial,微软雅黑,Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust:none;
}

div {
	background: white;
	padding: 0;
	margin: 0;
	border: 0;
}

li {
	list-style: none outside none;
}

em {
	color: red;
	font-style: normal;
	margin-left: 20px;
	font-size:12px;
	white-space: nowrap;
}

body {
	background:white;
	margin:0;
	min-width:1150px;
}

#mainBody{
	margin:20px 20px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout:fixed;
	width:100%;
}

.splitter {
	background:url("image/bg2.png") repeat-x scroll center center transparent;
	height:15px;
	line-height:15px;
}

.hover {
	background: #fff4ce !important;
}

.rowOdds {
	background: #FCEFA1;
}

.rowEven {
	background: none;
}
.rowConfig{
	background:#f4f4f4
}
.line-5{
	margin-top:5px;
}
.line-7{
	padding:7px 0;
}
.message {
    display: block;
    font-size: 12px;
    text-align: center;
}
.smallIcon {
    float: left;
    margin-right: 5px;
}
.bannerheader{
	padding:40px 0 0;
	width:100%;
}
#createAppItemDiv table, #resourceConfigDiv table, #vmImageListDiv table,#publishedAppListDiv table,#resourceConfigListDiv table{
	border:1px solid silver;
}
#vmChargeListDiv thead{
	border:1px solid silver;
	border-bottom:none;
}
#vmChargeListDiv tbody{
	border:1px solid silver;
	border-top:none;
}
.appCheck{
	width:1px;
}
.appName{
	width:140px;
}
.appIntro{
	width:140px;
}
.appImage{
	width:120px;
}
.appStatus{
	width:40px;
}
.appOperation{
	width:100px;
	text-align:center;
}
#publishAppList tbody tr{
	cursor:pointer;
}
#vmChargeList th ,#vmImageList th,#publishAppList th,#resourceConfigList th{
	padding: 0 5px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: top;
	line-height: 100%;
	white-space: nowrap;
	margin-bottom: -1px;
	cursor: default;
	vertical-align:middle;
	text-align:left;
}
#vmChargeList tbody tr ,#publishAppList tbody tr,#resourceConfigList tbody tr{
	border-color: #CCC;
	border-width: 1px 0;
	border-style: solid;
	cursor: pointer;
}

#vmChargeList tbody tr td,#publishAppList tbody tr td,#resourceConfigList tbody tr td{
	font-size: 12px;
	vertical-align: top;
	line-height: 160%;
	white-space: nowrap;
	margin-bottom: -1px;
	padding: 5px 5px 0;
	overflow:hidden;
	text-overflow: ellipsis;
	width:100%;
	text-align:left;
}
#resourceConfigList tbody tr{
	cursor:default;
}
.rsdesc{
	width:80px;
}
.rsmaxcpu{
	width:50px;
}
.rsstartcpu{
	width:50px;
}
.rsmaxmem{
	width:50px;
}
.rsstartmem{
	width:50px;
}
.rsname{
	width:150px;
}
.rsprice{
	width:35px;
}
.rsoperation{
	width:40px;
	text-align:center;
}
.vmChargeName{
	width:80px;
}
.vmChargePrice{
	width:40px;
}
.vmChargeTime{
	width:60px;
}
.vmChargeBefore{
	width:80px;
}
.vmChargeRemove{
 	width:120px;
}
.vmChargeDesc{
	width:350px;
}
.vmChargeType{
	width:80px;
}
.vmChargeZone{
	width:80px;
}
.vmListOperation a{
	margin:0 3px;
}
#vmChargeList tfoot td{
	text-align:right;
	padding: 5px 5px 4px;
}
#createVMChargeItem td, #updateVMChargeItem td{
	font-size: 12px;
	vertical-align: middle;
	white-space: nowrap;
	padding: 2px;
}
#createVMChargeItem select,#updateVMChargeItem select{
	width:80px;
	height:24px;
}

#vmImageList tbody tr{
	border-color: #CCC;
	border-width: 1px 0;
	border-style: solid;
	cursor: pointer;
}

#vmImageList tbody tr td{
	font-size: 12px;
	vertical-align: top;
	line-height: 160%;
	white-space: nowrap;
	margin-bottom: -1px;
	padding: 5px 5px 0;
	overflow:hidden;
	text-overflow: ellipsis;
	width:100%;
	text-align:left;
}

#createAppItemDiv td,#resourceConfig td{
	font-size: 12px;
	vertical-align: top;
	line-height: 160%;
	white-space: nowrap;
	margin-bottom: -1px;
	padding: 5px 2px 5px;
}
#resourceConfigListDiv h3{
	margin:10px 0 5px;
}
#tab-publishapp h3,#{
	margin:5px 0;
}
#vmImageList th, #vmChargeList th, #publishAppList th, #resourceConfigList th{
	padding:8px 2px 8px;
}
.vmListPath{
	width:120px;
}
.vmListFolder{
	width:120px;
}
.vmListName{
	width:120px;
}
.vmListOS{
	width:140px;
}
.vmListSize{
	width:60px;
}
.vmListType{
	width:60px;
}
.vmListOperation{
	width:55px;
	text-align: center;
}
.vmListOperation a{
	margin:0 3px;
}
.line-10{
	padding:10px 0;
}
#vmImageList tfoot td{
	text-align:right;
	padding: 5px 5px 4px;
}

.dialogLine {
}
.dialogLineLeft {
	text-align:right;
}
.dialogLineRight input{
	padding:1px;
	width:65px;
}
.red{
	color:#CC4444;
}
.green{
	color:#65C300;
}
.orange{
	color:orange;
}
#createAppItem .trSplitter{
	height:3px;
	padding:0px;
	line-height:100%;
}