<?xml version="1.0" encoding="UTF-8"?>
<platform>
	<module index="5" role="is_admin,is_2ndadmin">
		<parent>menu1</parent>
		<!-- local / descriptor -->
		<name source="local">
			navigation.menu.admin.resource.paying
		</name>
		<license>applicationpackagemanagement</license>
		<entry>modules/Paying/index.html</entry>
	</module>
</platform>
