/*

<!--#echo var="DOCUMENT_NAME"-->
<!--#echo var="LAST_MODIFIED"-->
*/

@CHARSET "UTF-8";
*{
	font-family: 微软雅黑;
	font-size:14px;
}
em {color:red;}
.panel {
	margin:20px 20px 50px 20px;
	border:1px solid #aaa;
	padding:20px 15px;
	min-width:700px;
	position: relative;
	
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	
	box-shadow: rgba(0,0,0,.5) 1px 1px 1px;
	-webkit-box-shadow: rgba(0,0,0,.5) 1px 1px 1px;
	-moz-box-shadow: rgba(0,0,0,.5) 1px 1px 1px;
	-o-box-shadow: rgba(0,0,0,.5) 1px 1px 1px;
	-ms-box-shadow: rgba(0,0,0,.5) 1px 1px 1px;
}
.panel > .panelTitle {
	position:absolute;
	top: -12px;
	left: 15px;
	background: white;
	padding: 0 5px;
	color: #777;
	cursor: default;
}
.panel > .panelList {
	display:block;
	margin: 5px 5px 15px 5px;
	border: 1px solid #aaa;
	max-height: 320px;
	min-height: 40px;
	
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	
	overflow: auto;
}
.listItem {
	line-height:160%;
	padding: 0 5px;
	margin: 2px 0;
	cursor: pointer;
	border: 1px solid white;
	color: #666;
	
	border-radius:2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.listItem:hover {
	background: rgba(251,197,85,1); !important;
	border-color: rgba(251,197,85,1);
}
.filebox {
	border: 1px solid #ccc;
	display: inline-block;
	width: 100px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	position: relative;
	vertical-align: bottom;
	color: #444;
	background: #F4F4F4;
	
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-ms-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-ms-border-bottom-right-radius: 10px;
	-o-border-bottom-right-radius: 10px;
	
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.filebox:hover {
	border-color: #aaa;
	background:#eee;
	color:#FF9900;
}
.filebox input {
	opacity: 0;
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	top: -1px;
	left: -1px;
}
.filebox > span {
	vertical-align: bottom;
	font-size:12px;
	display:block;
	text-align:center;
}
.filename {
	font-size:12px;
	color: #444;
	text-overflow:ellipsis;
	overflow:hidden;
	display:inline-block;
	max-width:200px;
	margin-left: 10px;
	cursor:default;
}
.selected {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(217,217,217,1))); /* Chrome,Safari4+ */
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(217,217,217,1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(217,217,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(217,217,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(217,217,217,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(237,237,237,1) 0%,rgba(217,217,217,1) 100%); /* W3C */
	
	color:#222;
	border-color: #869DBC !important;
}
.submit {
	color:#777;margin-left:2px; 
	margin-right: 2px;
	border:1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	padding:1px 4px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	background: #f5f5f5; /* FF3.6+ */
	text-decoration: none;
}
.submit:hover{
	color:#222;border-color:#aaa;
	background: #d5d5d5; /* FF3.6+ */
}

.processDialog {text-align:center;position:relative;}
.processDialog table {border:0;border-collapse: collapse;width:100%;height:100%;position:relative;}
.processDialog table td {padding:0;border-spacing: 0;}
.processBar {
	position:absolute;top:16px;left:0;display:inline-block;height:25px;width:100%;z-index:-1;text-align:left;overflow:hidden;
	border:1px solid #777;box-shadow: rgba(0,0,0,.5) -1px -1px 1px; 
}
.processBar span {
	display:block;
	height:100%;
	background:#B2BDED;
	width:0%;
}

.classfier {height:2px;background:#ccc;margin: 10px 0;position:relative;cursor:pointer;}
.classfier > .banner {position:absolute;top:-10px;left:20px;background:white;padding:0 10px;color:#ccc;}
.panelCtrl {white-space:nowrap;text-align:left;position: relative;}
.panelCtrl input:last-child /*Upgrade Button*/ {right:0;display:inline-block;position:absolute;bottom:0;}
.panelCtrl .anchor_sa, .anchor_da /*select & deselect all*/ {margin:0 5px;}
.authPanel td:first-child {text-align:right;}
.authPanel td:last-child {text-align:left;}

.itemAddition {margin:0 20px;font-size:10px;}
.itemAddition a {margin:0 4px;font-size:10px;text-decoration:none;}
/*
*/